body {
  background-color: #eee;
}
#mainDiv {
  width: 600px;
  margin: 200px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: green;
}

#title {
  color: black;
}

button {
  margin-left: 10px;
  border: 2px solid black;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  border-color: blueviolet;
}